<?xml version="1.0" encoding="utf-8"?>
<menu>
	<a key="index">
		<a key="name">index</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="blogs">
		<a key="name">blogs</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="galleries">
		<a key="name">galleries</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="devices">
		<a key="name">devices</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="pictures">
		<a key="name">pictures</a>
		<a key="show">0</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="posts">
		<a key="name">posts</a>
		<a key="show">0</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="profiles">
		<a key="name">profiles</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="settings">
		<a key="name">settings</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="templates">
		<a key="name">templates</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="users">
		<a key="name">users</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
</menu>