<!-- BEGIN forms -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 45%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wCOLIDENTIFIER}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listforms -->
		<tr>
			<td>{LNAME}</td>
			<td class="wgcode">{#MOD_forms_main_{LIDENTIFIER}}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listforms -->
	</tbody>
</table>
<form action="{ACTIONNEW}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
{DATAPAGER}
<!-- END forms -->

