<!-- BEGIN messages -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 30%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wFROM}</th>
			<th>{wFORMNAME}</th>
			<th>{wCOLADDED}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listmessages -->
		<tr>
			<td>{FROM}</td>
			<td>{FORMNAME}</td>
			<td>{LADDED}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listmessages -->
	</tbody>
</table>
{DATAPAGER}
<div{HIDDEN}>
	<fieldset><legend>{FORMNAME} ({ADDED})</legend>
		<div style="margin:15px;">{MESSAGE}</div>
		<p>&nbsp;</p>
	</fieldset>
</div>
<!-- END messages -->

<!-- BEGIN mgroups -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 35%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLNAME}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listmgroups -->
		<tr>
			<td>{LID}</td>
			<td>{LNAME}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listmgroups -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
		<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END mgroups -->

