body {
	font: 62.5%/1.4em 'PT Sans', sans-serif;
	margin: 0;
	color: #5f5f5f;
	position: relative;
	background: #f8f8f8;
}
.mobile {
	background: #fff;
	min-width: 640px;
}
a {
	color: #5f5f5f;
}
a img {
	border: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.audible {
	position: absolute;
	left: -999em;
	top: 0;
}
#header, #main, #more {
	padding: 57px 67px 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
#header {
	z-index: 2;
}
#main {
	margin-bottom: 37px;
}
#more {
	color: #fff;
	background: #368daa; /* Old browsers */
	background: -moz-linear-gradient(top, #368daa 0%, #35b0e4 2%, #89c5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#368daa), color-stop(2%,#35b0e4), color-stop(100%,#89c5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #368daa 0%,#35b0e4 2%,#89c5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #368daa 0%,#35b0e4 2%,#89c5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #368daa 0%,#35b0e4 2%,#89c5d5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #368daa 0%,#35b0e4 2%,#89c5d5 100%); /* W3C */
	padding-bottom: 51px;
	padding-top: 30px;
	min-height: 187px;
}
.mobile #more {
	padding-top: 40px;
}
.desktop #header, .desktop #main, .desktop #footer {
	min-width: 1004px;
	max-width: 1260px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
.desktop #header {
	padding-top: 64px;
	overflow: visible;
}
.desktop #main {
	padding-top: 128px;
	margin-top: -128px;
	padding-bottom: 100px;
	min-height: 899px;
}
.desktop #more {
	min-width: 884px;
}
.noFlash.home #main {
	background: url(../images/home-bg.jpg) no-repeat right top;
}
.noFlash.aboutUs #main {
	background: url(../images/who-are-we.jpg) no-repeat left 150px;
}
.contact #main {
	background: url(../images/contact-us-bg.jpg) no-repeat 30px 90px;
}
.news #main {
	background: url(../images/news-bg.jpg) no-repeat left 300px;
}
.mobile #main {
	background: url(../../images/m-page-bg.png) repeat-x left 230px;
}
body.news:before {
	position: absolute;
	left: 0;
	top: 275px;
	content: '';
	width: 126px;
	height: 225px;
	background: url(../images/news.png) no-repeat left top;
	z-index: 100;
}
.portfolio #main {
	width: 100%;
	max-width: none;
	background: url(../images/work-bg-grad.png) repeat-x left 220px;
	padding-bottom: 0;
}
.portfolio #main:before, .portfolio #main:after {
	background-repeat: no-repeat;
	position: absolute;
	height: 749px;
	content: '';
	top: 50px;
}
.portfolio #main:before {
	background: url(../images/work-bg-left.png) no-repeat left top;
	width: 430px;
	left: 0;
}
.portfolio #main:after {
	background: url(../images/work-bg-right.png) no-repeat left top;
	width: 274px;
	right: 0;
}
.desktop #footer {
	text-align: right;
	min-width: 884px;
	max-width: 1140px;
}
.desktop .logo {
	margin: 0 60px;
}
.title {
	font-size: 3em;
	color: #00b1f0;
	margin-top: 0;
	line-height: 1em;
}
.header {
	font-size: 3em;
	margin-top: 0;
	line-height: 1em;
}
.longText {
	font-size: 2.4em;
	line-height: 1.4em;
	margin-top: 0;
}
.home .mainContent {
	float: left;
	width: 180px;
	padding-top: 80px;
	margin-left: 60px;
	position: relative;
	z-index: 100;
}
.aboutUs .mainContent {
	float: right;
	width: 375px;
	margin-right: 86px;
	margin-top: 165px;
	position: relative;
	z-index: 2;
}
.contact .mainContent {
	clear: both;
	margin: 0 60px;
	padding-top: 45px;
}
.contact .mainContent .map {
	margin-top: -45px;
}
.mainContent p {
	font-size: 1.4em;
	line-height: 1.3em;
}
.contact .mainContent p {
	margin-right: 290px;
}
.news .mainContent {
	margin-top: 120px;
	margin-right: 60px;
	width: 45%;
	float: right;
}
.detail .mainContent {
	margin: 60px 60px 0;
}
.detail .mainContent h2 {
	font-size: 3.3em;
	margin-left: 60px;
}
.detail .mainContent p {
	margin-right: 360px;
	margin-left: 60px;
	margin-bottom:6px;
}
.mobile .mainContent .projectImage {
	margin: 0 -31px;
}
.mobile .mainContent h2 {
	font-size: 3em;
	margin-bottom: 0.3em;
}
.mobile .mainContent .alterText {
	font-size: 2.4em;
	margin: 0;
}
.alterText {
	color: #a0a0a0;
}
.mobile .iosSlider .text1 .alterText {
	font-size: 2.4em;
	font-weight: 600;
}
.aboutUs .mainImage {
	position: absolute;
	left: 200px;
	top: 400px;
}
.extraContent {
	margin: 0 60px;
	position: relative;
	z-index: 3;
	margin-bottom: 60px;
}
.aboutUs .extraContent {
	margin-right: 86px;
	margin-top: 760px;
}
.extraContent h2 {
	font-size: 3.3em;
	color: #00b1f0;
	margin-bottom: 1.5em;
}
.extraContent h3 {
	font-size: 2.4em;
	clear: both;
}
.extraContent p {
	font-size: 1.4em;
	line-height: 1.3em;
}
.home .extraContent p {
	margin-right: 380px;
}
.extraImage {
	float: right;
	width: 380px;
	text-align: center;
	position: relative;
	top: -3em;
	margin-bottom: 2em;
}

.signpost {
	position: absolute;
	z-index: 3;
	width: 280px;
	height: 250px;
	top: 0;
	right: 30px;
}
noFlash.signpost {
	background: url(../images/navigation-bg.png) no-repeat left top;
	width: 156px;
	height: 198px;
	right: 60px;
	top: 30px;
}
.signpost a {
	position: absolute;
	overflow: hidden;
	text-indent: -999em;
}
.signpost .aboutUs {
	width: 70px;
	height: 90px;
	top: 0;
	right: 45px;
}
.signpost .portfolio {
	width: 90px;
	height: 45px;
	top: 70px;
	right: 0;
}
.signpost .news {
	width: 50px;
	height: 50px;
	top: 150px;
	right: 55px;
}
.signpost .contact {
	width: 90px;
	height: 40px;
	top: 125px;
	right: 0;
}
.home .signpost {
	background: none;
	position: static;
	width: auto;
	height: auto;
	right: auto;
	top: auto;
}
.home .signpost .aboutUs {
	width: 110px;
	height: 110px;
	top: 274px;
	right: 765px;
}
.home .signpost .portfolio {
	width: 96px;
	height: 96px;
	top: 763px;
	right: 304px;
}
.home .signpost .news {
	width: 68px;
	height: 68px;
	top: 817px;
	right: 715px;
}
.home .signpost .contact {
	width: 100px;
	height: 100px;
	top: 248px;
	right: 154px;
}
.home .signpost .twitter {
	width: 30px;
	height: 30px;
	top: 872px;
	right: 260px;
	background: none;
}
.home .signpost .linkedin {
	width: 30px;
	height: 30px;
	top: 849px;
	right: 283px;
	background: none;
}
.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.desktop .iosSlider {
	height: 790px;
}
.mobile .iosSlider {
	height: 480px;
}
.desktop .iosSliderWrap {
	margin-top: 120px;
	position: relative;
}
.mobile .iosSliderWrap {
	margin: 0 -31px 30px;
}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 5px 0 5px 0;
}
.desktop .projectImage {
	height: 533px;
	background: url(../images/slider-bg.png) no-repeat center 0;
	text-align:center;
	padding-top: 25px;
}
.mobile .projectImage {
	height: 291px;
	background: url(../images/m-slider-bg.png) no-repeat left 0;
}
.desktop .iosSlider .text1 {
	margin: 0 auto;
	padding: 0 60px;
	max-width: 1004px;
}
.mobile .iosSlider .text1 {
	padding: 0 30px;
}
.iosSlider .text1 h2 {
	font-size: 3.3em;
	line-height: 1.2em;
	color: #00b1f0;
	margin: 10px 0;
}
.iosSlider .text1 p {
	font-size: 1.4em;
	line-height: 1.2em;
}
.iosSlider a {
	color: #00b1f0;
}
.iosSlider .text1 .alterText {
	margin: 0 0 30px;
}
.iosSlider .text2 {
	margin: 30px 30px 0;
}
.iosSlider .text2 .button {
	float: left;
	color: #fff;
	margin-right: 0;
}
.mobile .iosSlider .text2 .buttons {
	padding: 0;
	float: right;
}
.mobile .iosSlider .text2 .buttons li {
	margin-right: 0;
}
.iosSliderWrap .prev, .iosSliderWrap .next {
	position: absolute;
	left: 0;
	width: 100px;
	height: 129px;
	background: url(../images/m-pagination.png) no-repeat -100px top;
	margin-top: -300px;
	text-indent: -999em;
	overflow: hidden;
	z-index: 100;
}
.mobile .iosSliderWrap .prev {
	margin-top: -383px;
}
.mobile .iosSliderWrap .next {
	margin-top: -397px;
}
.iosSliderWrap .next {
	right: 0;
	left: auto;
	background-position: left top;
}
.desktop .iosSliderWrap .prev, .desktop .iosSliderWrap .next {
	margin-top: 0;
	top: 220px;
}
.desktop .iosSliderWrap .prev:hover {
	background-position: -102px bottom;
}
.desktop .iosSliderWrap .next:hover {
	background-position: left bottom;
}
.desktop .iosSliderWrap:before {
	position: absolute;
	left: 54%;
	top: -102px;
	background: url(../images/decoration-portfolio.png) no-repeat left top;
	content: '';
	width: 249px;
	height: 137px;
}
.desktop .iosSliderWrap:after {
	position: absolute;
	background: url(../images/arrow-up-2.png) no-repeat left top;
	content: '';
	width: 93px;
	height: 48px;
	left: 65%;
	top: 540px;
}
.mobile .longText {
	padding-right: 65px;
	position: relative;
	margin-bottom: 65px;
	z-index: 100;
}
.mobile .longText:before {
	position: absolute;
	right: 0;
	top: -10px;
	background: url(../images/arrow-down.png) no-repeat left top;
	content: '';
	width: 37px;
	height: 97px;
}
.mobile .longText:after {
	position: absolute;
	background: url(../images/m-decoration-portfolio.png) no-repeat left top;
	content: '';
	width: 121px;
	height: 58px;
	left: 265px;
	bottom: -100px;
}
.buttons {
	margin: 0 auto;
	max-width: 1004px;
	padding: 0 60px;
}
.buttons li {
	display: inline-block;
	margin-right: 30px;
}
.detail .buttons {
	position: absolute;
	right: 60px;
	top: 250px;
}
.detail .buttons li {
	display: block;
	margin-bottom: 25px;
	text-align: center;
}
.button {
	font-size: 2.4em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	background: #8ac5d5; /* Old browsers */
	background: -moz-linear-gradient(top, #8ac5d5 0%, #37b1e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac5d5), color-stop(100%,#37b1e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8ac5d5 0%,#37b1e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8ac5d5 0%,#37b1e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8ac5d5 0%,#37b1e3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8ac5d5 0%,#37b1e3 100%); /* W3C */
	border: 1px solid #5eaec6;
	border-bottom-width: 3px;
	border-right-width: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	text-decoration: none;
	margin-right: 35px;
	line-height: 1em;
}
.mobile .button {
	position: relative;
	margin-right: 50px;
}
.mobile .store {
	margin-left: 12px;
}
.map {
	float: right;
	display: block;
	background: #5bbadd;
	padding: 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.map img {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
}
.desktop .contacts {
	padding: 350px 60px 60px;
	position: relative;
	overflow: hidden;
}
.desktop .contacts ul {
	max-width: 920px;
}
.desktop .london, .desktop .prague {
	width: 210px;
	position: relative;
}
.desktop .london {
	float: left;
	margin-top: 50px;
}
.desktop .prague {
	float: right;
}
.desktop .london:before, .desktop .prague:before {
	position: absolute;
	content: '';
}
.desktop .london:before {
	right: -15px;
	top: -30px;
	background: url(../images/arrow-right.png) no-repeat left top;
	width: 60px;
	height: 33px;
}
.desktop .prague:before {
	left: 0;
	top: -70px;
	background: url(../images/arrow-up.png) no-repeat left top;
	width: 31px;
	height: 61px;
}
.contacts h2 {
	font-size: 2.6em;
	color: #00b1f0;
}
.mobile .contacts h2 {
	color: #fff;
	font-size: 3em;
}
.mobile .contacts li {
	margin-bottom: 50px;
	overflow: hidden;
}
.getInTouch, .address {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.2em;
}
.mobile .getInTouch, .mobile .address {
	font-size: 2.4em;
}
.getInTouch dt {
	float: left;
	color: #a2a1a1;
	margin-right: 0.5em;
}
.getInTouch dd {
	margin-left: 0;
	margin-bottom: 0.2em;
}
.getInTouch .email {
	margin-left: 0;
	margin-top: -0.2em;
	background-image: url(../images/icon-email.png);
	text-indent: -999em;
	overflow: hidden;
	clear: left;
	width: 0;
}
.getInTouch .spacious {
	margin-bottom: 1.5em;
}
.desktop .getInTouch a {
	color: #00b1f0;
}
.desktop .copyright {
	font-size: 1.1em;
	float: left;
	margin-right: 10px;
}
.mobile .copyright {
	font-size: 2em;
}
.twitter, .linkedin, .offices, .email {
	font-size: 1.1em;
	color: #fff;
}
.twitter, .linkedin {
	text-indent: -999em;
	overflow: hidden;
	text-align: left;
	background-position: left top;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	float: left;
	margin-left: 4px;
}
.twitter {
	background-image: url(../images/footer-icon-twitter.png);
}
.linkedin {
	background-image: url(../images/footer-icon-linked.png);
}
.offices, .email {
	background-position: right top;
	background-repeat: no-repeat;
	padding-right: 30px;
	margin-left: 10px;
	margin-right: 15px;
	display: inline-block;
	height: 23px;
}
.offices {
	background-image: url(../images/footer-icon-location.png);
}
.email {
	background-image: url(../images/footer-icon-email.png);
	padding-right: 36px;
	margin-right: 0;
}
.clients {
	clear: both;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.clients ul {
	margin: 0 20px;
	overflow: hidden;
	text-align: center;
}
.clients li {
	display: inline-block;
	margin-left: 2.65%;
	margin-right: 2.65%;
}
.followUs {
	border: 2px dotted #00b1f0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 75px;
	padding: 0 30px 0 130px;
	background: url(../images/twitter.png) no-repeat 30px 15px;
	min-height: 7em;
}
.followUs:before {
	border-top: 1px solid #999;
	position: absolute;
	top: -45px;
	left: 0;
	content: '';
	width: 100%;
}
.followUs h2 {
	color: #00b1f0;
	font-size: 3.3em;
	margin-bottom: 0;
}
.mobile .followUs {
	margin: 80px 0 30px;
	position: relative;
}
.tweet_list li {
	clear: both;
	margin-bottom: 60px;
	overflow: hidden;
}
.mobile .tweet_list li {
	margin-bottom: 30px;
}
.tweet_list .tweet_avatar {
	float: left;
	margin-right: 30px;
}
.mobile .tweet_list .tweet_avatar {
	margin-right: 20px;
}
.tweet_list .tweet_text {
	font-size: 1.4em;
	color: #00b1f0;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.mobile .tweet_list .tweet_text {
	font-size: 2.4em;
	margin-left: 104px;
}
.tweet_list .tweet_time {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	line-height: 1.1em;
}
.mobile .tweet_list .tweet_time {
	font-size: 2em;
	color: #777;
	font-weight: 400;
	margin-left: 104px;
}
.tweet_list .tweet_time a {
	text-decoration: none;
}
.contentWrap {
	max-width: 1260px;
	min-width: 1004px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 100px;
	height: 60px;
}
.home #flashSignpost {
	position: relative;
	margin-left: -200px;
}
#flashWho {
	position: absolute;
}

@media screen and (max-width: 1160px) {
	.home #main {
		background-position: left top;
	}
	.home .signpost .aboutUs {
		left: 265px;
		right: auto;
	}
	.home .signpost .portfolio {
		left: 738px;
		right: auto;
	}
	.home .signpost .news {
		left: 357px;
		right: auto;
	}
	.home .signpost .contact {
		left: 885px;
		right: auto;
	}
	.home .signpost .twitter {
		left: 844px;
		right: auto;
	}
	.home .signpost .linkedin {
		left: 822px;
		right: auto;
	}
}