<!-- BEGIN people -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 30%;" />
		<col style="width: 30%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLFIRSTNAME}</th>
			<th>{wCOLLASTNAME}</th>
			<th>{wCOLLINE}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listpeople -->
		<tr>
			<td>{LID}</td>
			<td><strong>{LFIRSTNAME}</strong></td>
			<td><strong>{LLASTNAME}</strong></td>
			<td>{LLINE}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listpeople -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post" enctype="multipart/form-data">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
		<p>
			<label class="required">{wCOLFIRSTNAME}:</label>
			<input name="firstname" id="firstname" type="text" value="{COLFIRSTNAME}" />
		</p>
		<p>
			<label class="required">{wCOLLASTNAME}:</label>
			<input name="lastname" id="lastname" type="text" value="{COLLASTNAME}" />
		</p>
		<p>
			<label>{wIMAGE}:</label>
			<input name="file" id="file" type="file" />
			<img src="{IMAGE}" alt="" />
		</p>
		<p>
			<label>{wCOLLINE}:</label>
			<input name="line" id="line" type="text" value="{COLLINE}" />
		</p>
		<p>
			<label>{wCOLPHONE}:</label>
			<input name="phone" id="phone" type="text" value="{COLPHONE}" />
		</p>
		<p>
			<label>{wCOLMOBILE}:</label>
			<input name="mobile" id="mobile" type="text" value="{COLMOBILE}" />
		</p>
		<p>
			<label>{wCOLNOTE}:</label>
			<input name="note" id="note" type="text" value="{COLNOTE}" />
		</p>
		<!--<p>
			<label>{wCOLONLINE}:</label>
			{FULLCOLONLINE}
		</p>
		<p>
			<label>{wCOLLASTLOGIN}:</label>
			{FULLCOLLASTLOGIN}
		</p>-->
		<p>
			<label>{wCOLMAIL}:</label>
			<input name="mail" id="mail" type="text" value="{COLMAIL}" />
		</p>
		<p>
			<label>{wCOLTITLE}:</label>
			<input name="title" id="title" type="text" value="{COLTITLE}" />
		</p>
		<!--<p>
			<label>{wCOLPASSWORD}:</label>
			<input name="password" id="password" type="text" value="{COLPASSWORD}" />
		</p>-->
		<p>
			<label>{wCOLINITIALS}:</label>
			<input name="initials" id="initials" type="text" value="{COLINITIALS}" />
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END people -->

<!-- BEGIN groups -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 35%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLNAME}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listgroups -->
		<tr>
			<td>{LID}</td>
			<td>{LNAME}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listgroups -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END groups -->

