<!-- BEGIN news -->
<table>
	<colgroup>
		<col style="width: 80%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listnews -->
		<tr>
			<td>{LNAME}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listnews -->
	</tbody>
</table>
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
		<!--<p>
			<label>{wCOLJOSHTRAYPEOPLEID}:</label>
			{FULLCOLJOSHTRAYPEOPLEID}
		</p>-->
		<p>
			<label>{wCOLJOSHTRAYGROUPSID}:</label>
			{FULLCOLJOSHTRAYGROUPSID}
		</p>
		<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLMESSAGE}:</label>
			<textarea cols="50" rows="9" name="message" id="message">{COLMESSAGE}</textarea>
		</p>
		<p>
			<label>{wCOLSHOW}:</label>
			{FULLCOLSHOW}
		</p>
		<p class="bottombuttons">
			<input name="joshtray_people_id" type="hidden" value="0" />
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END news -->

