<!-- BEGIN items -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 45%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNIIN}</th>
			<th>{wCOLNATOITEMNAME}</th>
			<!--<th>{wCOLMARKET}</th>
			<th>{wCOLCLASIFICATION}</th>
			<th>{wCOLITEMTYPE}</th>
			<th>{wCOLDESCRIPTION}</th>
			<th>{wCOLCOMMONREFNAME}</th>
			<th>{wCOLCOMMONDESCRIPTION}</th>
			<th>{wCOLNATODESCRIPTION}</th>
			<th>{wCOLLENGTH}</th>
			<th>{wCOLLENGTHUNIT}</th>
			<th>{wCOLWIDTH}</th>
			<th>{wCOLWIDTHUNIT}</th>
			<th>{wCOLHEIGHT}</th>
			<th>{wCOLHEIGHTUNIT}</th>
			<th>{wCOLVOLUMEWEIGHT}</th>
			<th>{wCOLVOLUMEWEIGHTUNIT}</th>
			<th>{wCOLDIAMETER}</th>
			<th>{wCOLDIAMETERUNIT}</th>-->
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listitems -->
		<tr>
			<td>{LNIIN}</td>
			<td>{LNATOITEMNAME}</td>
			<!--<td>{LMARKET}</td>
			<td>{LCLASIFICATION}</td>
			<td>{LITEMTYPE}</td>
			<td>{LDESCRIPTION}</td>
			<td>{LCOMMONREFNAME}</td>
			<td>{LCOMMONDESCRIPTION}</td>
			<td>{LNATODESCRIPTION}</td>
			<td>{LLENGTH}</td>
			<td>{LLENGTHUNIT}</td>
			<td>{LWIDTH}</td>
			<td>{LWIDTHUNIT}</td>
			<td>{LHEIGHT}</td>
			<td>{LHEIGHTUNIT}</td>
			<td>{LVOLUMEWEIGHT}</td>
			<td>{LVOLUMEWEIGHTUNIT}</td>
			<td>{LDIAMETER}</td>
			<td>{LDIAMETERUNIT}</td>-->
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listitems -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
		<p>
			<label>{wCOLNIIN}:</label>
			<input name="niin" id="niin" type="text" value="{COLNIIN}" />
		</p>
		<p>
			<label>{wCOLBIGB}:</label>
			<input name="bigb" id="bigb" type="text" value="{COLBIGB}" />
		</p>
		<p>
			<label>{wCOLSMALLB}:</label>
			<input name="smallb" id="smallb" type="text" value="{COLSMALLB}" />
		</p>
		<p>
			<label>{wCOLMARKET}:</label>
			<input name="market" id="market" type="text" value="{COLMARKET}" />
		</p>
		<p>
			<label>{wCOLCLASIFICATION}:</label>
			<input name="clasification" id="clasification" type="text" value="{COLCLASIFICATION}" />
		</p>
		<p>
			<label>{wCOLITEMTYPE}:</label>
			<input name="item_type" id="item_type" type="text" value="{COLITEMTYPE}" />
		</p>
		<p>
			<label>{wCOLDESCRIPTION}:</label>
			<input name="description" id="description" type="text" value="{COLDESCRIPTION}" />
		</p>
		<p>
			<label>{wCOLCOMMONREFNAME}:</label>
			<input name="common_ref_name" id="common_ref_name" type="text" value="{COLCOMMONREFNAME}" />
		</p>
		<p>
			<label>{wCOLCOMMONDESCRIPTION}:</label>
			<textarea cols="50" rows="9" name="common_description" id="common_description">{COLCOMMONDESCRIPTION}</textarea>
		</p>
		<p>
			<label>{wCOLNATOITEMNAME}:</label>
			<input name="nato_item_name" id="nato_item_name" type="text" value="{COLNATOITEMNAME}" />
		</p>
		<p>
			<label>{wCOLNATODESCRIPTION}:</label>
			<textarea cols="50" rows="9" name="nato_description" id="nato_description">{COLNATODESCRIPTION}</textarea>
		</p>
		<p>
			<label>{wCOLLENGTH}:</label>
			<input name="length" id="length" type="text" value="{COLLENGTH}" /> <input name="length_unit" id="length_unit" type="text" value="{COLLENGTHUNIT}" class="small" />
		</p>
		<p>
			<label>{wCOLWIDTH}:</label>
			<input name="width" id="width" type="text" value="{COLWIDTH}" /> <input name="width_unit" id="width_unit" type="text" value="{COLWIDTHUNIT}" class="small" />
		</p>
		<p>
			<label>{wCOLHEIGHT}:</label>
			<input name="height" id="height" type="text" value="{COLHEIGHT}" /> <input name="height_unit" id="height_unit" type="text" value="{COLHEIGHTUNIT}" class="small" />
		</p>
		<p>
			<label>{wCOLVOLUMEWEIGHT}:</label>
			<input name="volume_weight" id="volume_weight" type="text" value="{COLVOLUMEWEIGHT}" /> <input name="volume_weight_unit" id="volume_weight_unit" type="text" value="{COLVOLUMEWEIGHTUNIT}" class="small" />
		</p>
		<p>
			<label>{wCOLDIAMETER}:</label>
			<input name="diameter" id="diameter" type="text" value="{COLDIAMETER}" /> <input name="diameter_unit" id="diameter_unit" type="text" value="{COLDIAMETERUNIT}" class="small" />
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END items -->

