<!-- BEGIN categories -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 45%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wCOLCODE}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listcategories -->
		<tr>
			<td>{LNAME}</td>
			<td class="wgcode">{#MOD_documents_cats_{LIDENTIFIER}}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listcategories -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLIDENTIFIER}:</label>
			<input name="identifier" id="identifier" type="text" value="{COLIDENTIFIER}" />
		</p>
		<p>
			<label>{wCOLPERPAGE}:</label>
			<input name="perpage" id="perpage" type="text" value="{COLPERPAGE}" />
			<span>0 = {wUNLIMITED}</span>
		</p>
		<p>
			<label>{wCOLDATASOURCE}:</label>
			{FULLDATASOURCE}
		</p>
		<p>
			<label>{wCOLTEMPBEGIN}:</label>
			<textarea cols="50" rows="9" name="tempbegin" id="tempbegin" class="html small">{COLTEMPBEGIN}</textarea>
		</p>
		<p>
			<label>{wCOLTEMPITEM}:</label>
			<textarea cols="50" rows="9" name="tempitem" id="tempitem" class="html">{COLTEMPITEM}</textarea>
		</p>
		<p>
			<label>{wCOLTEMPEND}:</label>
			<textarea cols="50" rows="9" name="tempend" id="tempend" class="html small">{COLTEMPEND}</textarea>
		</p>
		<p class="bottombuttons">
			<input name="temptype" type="hidden" value="0" />
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END categories -->

<!-- BEGIN documents -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 45%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wCOLCODE}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listdocuments -->
		<tr>
			<td>{LNAME}</td>
			<td class="wgcode">{#MOD_documents_{TYPECODE}_{LIDENTIFIER}}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listdocuments -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLIDENTIFIER}:</label>
			<input name="identifier" id="identifier" type="text" value="{COLIDENTIFIER}" />
		</p>
		<p>
			<label>{wCOLPERPAGE}:</label>
			<input name="perpage" id="perpage" type="text" value="{COLPERPAGE}" />
			<span>0 = {wUNLIMITED}</span>
		</p>
		<p>
			<label>{wCOLDATASOURCE}:</label>
			{FULLDATASOURCE}
		</p>
		<p>
			<label>{wCOLTEMPBEGIN}:</label>
			<textarea cols="50" rows="9" name="tempbegin" id="tempbegin" class="html small">{COLTEMPBEGIN}</textarea>
		</p>
		<p>
			<label>{wCOLTEMPITEM}:</label>
			<textarea cols="50" rows="9" name="tempitem" id="tempitem" class="html">{COLTEMPITEM}</textarea>
		</p>
		<p>
			<label>{wCOLTEMPEND}:</label>
			<textarea cols="50" rows="9" name="tempend" id="tempend" class="html small">{COLTEMPEND}</textarea>
		</p>
		<p class="bottombuttons">
			<input name="temptype" type="hidden" value="{TYPE}" />
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END documents -->

<!-- BEGIN details -->
<table>
	<colgroup>
		<col style="width: 35%;" />
		<col style="width: 45%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wCOLCODE}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listdetails -->
		<tr>
			<td>{LNAME}</td>
			<td class="wgcode">{#MOD_documents_detail_{LIDENTIFIER}}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listdetails -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLIDENTIFIER}:</label>
			<input name="identifier" id="identifier" type="text" value="{COLIDENTIFIER}" />
		</p>
		<p>
			<label>{wCOLDATASOURCE}:</label>
			{FULLDATASOURCE}
		</p>
		<p>
			<label>{wCOLTEMPITEM}:</label>
			<textarea cols="50" rows="9" name="tempitem" id="tempitem" class="html">{COLTEMPITEM}</textarea>
		</p>
		<p>
			<label>{wCOLTEMPNOITEM}:</label>
			<textarea cols="50" rows="9" name="tempend" id="tempend" class="html">{COLTEMPEND}</textarea>
		</p>
		<p class="bottombuttons">
			<input name="temptype" type="hidden" value="2" />
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END details -->

