<!-- BEGIN users -->
<table>
	<colgroup>
		<col style="width: 30%;" />
		<col style="width: 35%;" />
		<col style="width: 15%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLLASTNAME}</th>
			<th>{wCOLFIRSTNAME}</th>
			<th>{wCOLNICKNAME}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listusers -->
		<tr>
			<td>{LLASTNAME}</td>
			<td>{LFIRSTNAME}</td>
			<td class="{LGENDER}"><a href="mailto: {LMAIL}">{LNICKNAME}</a></td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listusers -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
		<p>
			<label>{wCOLUSERSGROUPSID}:</label>
			{FULLCOLUSERSGROUPSID}
		</p>
		<p>
			<label class="mandatory">{wCOLFIRSTNAME}*:</label>
			<input name="firstname" id="firstname" type="text" value="{COLFIRSTNAME}" />
		</p>
		<p>
			<label class="mandatory">{wCOLLASTNAME}*:</label>
			<input name="lastname" id="lastname" type="text" value="{COLLASTNAME}" />
		</p>
		<p>
			<label>{wCOLNICKNAME}:</label>
			<input name="nickname" id="nickname" type="text" value="{COLNICKNAME}" />
		</p>
		<p class="mandatory">
			<label>{wCOLMAIL}*:</label>
			<input name="mail" id="mail" type="text" value="{COLMAIL}" />
		</p>
        <script type="text/javascript">
		<!--
		function checkPassword() {
			var text1 = $('#password').val();
			var text2 = $('#password2').val();
			if (text1.length < 5) {
				$('#passwordMessage').text('{wPASSTOOSHORT}');
				$('#passwordMessage').addClass('red');
				$('#passwordMessage').removeClass('green');
			}
			else {
				if (text1 == text2) {
					$('#passwordMessage').text('{wPASSWORDOK}');
					$('#passwordMessage').addClass('green');
					$('#passwordMessage').removeClass('red');
				}
				else {
					$('#passwordMessage').text("{wPASSWORDDONTMATCH}");
					$('#passwordMessage').addClass('red');
					$('#passwordMessage').removeClass('green');
				}
			}
		}
		-->
		</script>
		<p{SOMETIMESMANDATORY}>
			<label>{COLPASSWORDORCHANGE}{SOMETIMESMANDATORYSTAR}:</label>
			<input name="password" id="password" type="password" value="{COLPASSWORD}" onkeyup="checkPassword()" />
		</p>
		<p{SOMETIMESMANDATORY}>
			<label>{wCONFIRMPASSWORD}{SOMETIMESMANDATORYSTAR}:</label>
			<input name="password2" id="password2" type="password" value="{COLPASSWORDB}" onkeyup="checkPassword()" />
            <small id="passwordMessage"></small>
		</p>
		<!--<p>
			<label>{wCOLQUESTION}:</label>
			<input name="question" id="question" type="text" value="{COLQUESTION}" />
		</p>
		<p>
			<label>{wCOLANSVER}:</label>
			<input name="ansver" id="ansver" type="text" value="{COLANSVER}" />
		</p>-->
		<!--<p>
			<label>{wCOLTIMEVER}:</label>
			<input name="timever" id="timever" type="text" value="{COLTIMEVER}" />
		</p>
		<p>
			<label>{wCOLCODEVER}:</label>
			<input name="codever" id="codever" type="text" value="{COLCODEVER}" />
		</p>-->
		<p>
			<label>{wCOLACTIVE}:</label>
			{FULLCOLACTIVE}
		</p>
		<p{HIDENOEDIT}>
			<label>{wCOLONLINE}:</label>
			{FULLCOLONLINE}
		</p>
		<p{HIDENOEDIT}>
			<label>{wCOLLASTLOGIN}:</label>
			{FULLCOLLASTLOGIN}
		</p>
		<p>
			<label>{wCOLGENDER}:</label>
			<!--<input name="gender" id="gender" type="text" value="{COLGENDER}" />-->
            {COLFULLGENDER}
		</p>
		<!--<p>
			<label>{wCOLLASTIP}:</label>
			<input name="lastip" id="lastip" type="text" value="{COLLASTIP}" />
		</p>-->
		<p>
			<label>{wCOLSYSTEMCOUNTRIESID}:</label>
			{FULLCOLSYSTEMCOUNTRIESID}
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END users -->

<!-- BEGIN groups -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 35%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLNAME}</th>
			<th>{wCOLSYSTEMWEBSITESID}</th>
			<th>{wCOLSYSTEMLANGUAGEID}</th>
			<th>{wCOLEMAILSTEMPLATESID}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listgroups -->
		<tr>
			<td>{LID}</td>
			<td>{LNAME}</td>
			<td>{LSYSTEMWEBSITESID}</td>
			<td>{LSYSTEMLANGUAGEID}</td>
			<td>{LEMAILSTEMPLATESID}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listgroups -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLSYSTEMWEBSITESID}:</label>
			{FULLCOLSYSTEMWEBSITESID}
		</p>
		<p>
			<label>{wCOLSYSTEMLANGUAGEID}:</label>
			{FULLCOLSYSTEMLANGUAGEID}
		</p>
		<p>
			<label>{wCOLEMAILSTEMPLATESID}:</label>
			{FULLCOLEMAILSTEMPLATESID}
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END groups -->

