<!-- BEGIN pages -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLSYSTEMTEAMSID}</th>
			<th>{wCOLPAGESID}</th>
			<th>{wCOLPERMISSIONS}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listpages -->
		<tr>
			<td>{LID}</td>
			<td>{LSYSTEMTEAMSID}</td>
			<td>{LPAGESID}</td>
			<td>{LPERMISSIONS}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listpages -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLSYSTEMTEAMSID}:</label>
			{FULLCOLSYSTEMTEAMSID}
		</p>
		<p>
			<label>{wCOLPAGESID}:</label>
			{FULLCOLPAGESID}
		</p>
		<p>
			<label>{wCOLPERMISSIONS}:</label>
			{FULLCOLPERMISSIONS}
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END pages -->

<!-- BEGIN websites -->
<table>
	<colgroup>
		<col style="width: 5%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLID}</th>
			<th>{wCOLSYSTEMWEBSITESID}</th>
			<th>{wCOLSYSTEMUSERSID}</th>
			<th>{wCOLPERMISSIONS}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listwebsites -->
		<tr>
			<td>{LID}</td>
			<td>{LSYSTEMWEBSITESID}</td>
			<td>{LSYSTEMUSERSID}</td>
			<td>{LPERMISSIONS}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listwebsites -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLSYSTEMWEBSITESID}:</label>
			{FULLCOLSYSTEMWEBSITESID}
		</p>
		<p>
			<label>{wCOLSYSTEMUSERSID}:</label>
			{FULLCOLSYSTEMUSERSID}
		</p>
		<p>
			<label>{wCOLPERMISSIONS}:</label>
			{FULLCOLPERMISSIONS}
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END websites -->

