* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
}
html {
	background-color:#ECECEC;
}
body {
}
a {
}
a:hover {
}
p {
}
.clear {
}
#container {
}
#header {
}
#page {
}
#login {
}
#footer {
}