/* General section */
* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
}
html {
	background-color:#ECECEC;
}
body {
}
a {
}
a:hover {
}
p {
}
.clear {
}
#container {
}

#topLine {
	height:12px;
	background-color:#DA0971;
}

/* Header section */

#header {
	margin-top:20px;
	height:52px;
	width:970px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
}
#header h1 {
}
#header ul {
}
#header ul li {
}
#header ul li a {
}
#header ul li a:hover {
}
#header p {
}
#header p a {
}

/* Page section */

#page {
	width:970px;
	background-color:#FFF;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	height:500px;
}

/* Login section */

#login {
	width:600px;
	height:460px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}
#login h1 {
	text-align:center;
	color:#666;
	font-weight:normal;
	font-size:22px;
	padding-top:130px;
	margin-bottom:50px;
}
#login h1 strong {
	display:block;
	color:#000;
	font-weight:bold;
}
#login p {
	margin-bottom:14px;
	text-align:center;
}
#login p input {
	width:321px;
	height:50px;
	background-color:#F9F9F9;
	border-color:#B7B7B7;
	border-width:1px;
	border-style:solid;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
}
#login p input:-webkit-autofill {
    color:#F9F9F9!important;
}
#login p input[type="password"] {
	width:286px;
	padding-left:50px;
}
#login p a {
	display:block;
	width:336px;
	margin-left:auto;
	margin-right:auto;
	margin-left:132px;
	text-align:right;
	color:#DA0971;
	font-size:12px;
	padding-top:3px;
}
#login p a:hover {
	text-decoration:none;
}
#login p button {
	border-style:none;
	background-color:#DA0971;
	color:#FFF;
	width:164px;
	height:34px;
	line-height:34px;
	font-weight:bold;
	margin-top:18px;
}

/* Footer section */

#footer {
}