<?xml version="1.0" encoding="utf-8"?>
<menu>
	<a key="index">
		<a key="name">index</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="albums">
		<a key="name">albums</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="photos">
		<a key="name">photos</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="settings">
		<a key="name">settings</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="templates">
		<a key="name">templates</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
</menu>