<?xml version="1.0" encoding="utf-8"?>
<menu>
	<a key="index">
		<a key="name">rewrites</a>
		<a key="show">1</a>
		<a key="ajax">1</a>
		<a key="type">php</a>
	</a>
	<a key="editor">
		<a key="name">editor</a>
		<a key="show">1</a>
		<a key="ajax">1</a>
		<a key="type">php</a>
	</a>
	<a key="htpasswd">
		<a key="name">htpasswd</a>
		<a key="show">1</a>
		<a key="ajax">1</a>
		<a key="type">php</a>
	</a>
	<a key="settings">
		<a key="name">settings</a>
		<a key="show">0</a>
		<a key="ajax">1</a>
		<a key="type">php</a>
	</a>
</menu>