<!-- BEGIN cronjobs -->
<table>
	<colgroup>
		<col style="width: 60%;" />
		<col style="width: 20%;" />
		<col style="width: 10%;" />
		<col style="width: 10%;" />
	</colgroup>
	<thead>
		<tr>
			<th>{wCOLNAME}</th>
			<th>{wCOLPERIOD}</th>
			<th>{wEDIT}</th>
			<th>{wDELETE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN listcronjobs -->
		<tr>
			<td>{LNAME}</td>
			<td class="{ACTIVE}">{LPERIOD}</td>
			<td>{EDITROW}</td>
			<td>{DELETEROW}</td>
		</tr>
		<!-- END listcronjobs -->
	</tbody>
</table>
{DATAPAGER}
<form action="{ACTION}" method="post">
	<p><input name="new" type="submit" value="{wCREATENEW}" /></p>
</form>
<form action="{ACTION}" method="post">
	<fieldset><legend>{wEDIT}</legend>
		<p class="topbuttons">
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	<p>
			<label>{wCOLNAME}:</label>
			<input name="name" id="name" type="text" value="{COLNAME}" />
		</p>
		<p>
			<label>{wCOLIDENTIFIER}:</label>
			<input name="identifier" id="identifier" type="text" value="{COLIDENTIFIER}" />
		</p>
		<p>
			<label>{wCOLDATEFROM}:</label>
			{FULLCOLDATEFROM}
		</p>
		<p>
			<label>{wCOLDATETO}:</label>
			{FULLCOLDATETO}
		</p>
		<p>
			<label>{wCOLPERIOD}:</label>
			<input name="period" id="period" type="text" value="{COLPERIOD}" />
		</p>
		<p>
			<label>{wCOLPHPCODE}:</label>
			<textarea cols="50" rows="9" name="phpcode" id="phpcode">{COLPHPCODE}</textarea>
		</p>
		<p>
			<label>{wCOLTIMELIMIT}:</label>
			<input name="timelimit" id="timelimit" type="text" value="{COLTIMELIMIT}" />
		</p>
		<p class="bottombuttons">
			<input name="edit" type="hidden" value="{COLID}" />
			<input name="act" type="hidden" value="{ACTIONNAME}" />
			<input name="reset" type="reset" value="{wRESET}" />
			<input name="apply" type="submit" value="{wAPPLY}" />
			<input name="submit" type="submit" value="{wSAVE}" />
		</p>
	</fieldset>
</form>
<!-- END cronjobs -->

