
<!-- BEGIN pagetabscontainer -->
<form action="{ACTION}" method="post">
	{PAGETABSCONTENT}
	<p class="bottombuttons">
		<input name="item" type="hidden" value="{ITEMID}" />
		<input name="edit" type="hidden" value="{EDIT}" />
		<input name="act" type="hidden" value="{ACTIONNAME}" />
		<input name="reset" type="reset" value="{wRESET}" />
		<input name="apply" type="submit" value="{wAPPLY}" />
		<input name="submit" type="submit" value="{wSAVE}" />
	</p>
</form>
<!-- END pagetabscontainer -->	

<!-- BEGIN projectsimagesa -->
<p class="topbuttons">
	<input name="reset" type="reset" value="{wRESET}" />
	<input name="apply" type="submit" value="{wAPPLY}" />
	<input name="submit" type="submit" value="{wSAVE}" />
</p>
<p>
	<label>{wCOLNAME}:</label>
	<input name="name" id="name" type="text" value="{COLNAME}" />
</p>
<p>
	<label>{wCOLIDENTIFIER}:</label>
	<input name="identifier" id="identifier" type="text" value="{COLIDENTIFIER}" />
</p>
<p>
	<label>{wCOLTEXTA}:</label><br />
	<textarea cols="50" rows="9" name="text1" id="text1" class="editor small">{COLTEXT1}</textarea>
</p>
<p>
	<label>{wCOLTEXTB}:</label><br />
	<textarea cols="50" rows="9" name="text2" id="text2" class="editor small">{COLTEXT2}</textarea>
</p>
<p>
	<label>{wCOLTEXTC}:</label><br />
	<textarea cols="50" rows="9" name="text3" id="text3" class="small">{COLTEXT3}</textarea>
</p>
<p>
	<label>{wCOLSORT}:</label>
	<input name="sort" id="sort" type="text" value="{COLSORT}" />
</p>
<p>
	<label>{wCOLVIEWS}:</label>
	<input name="views" id="views" type="text" value="{COLVIEWS}" disabled="disabled" />
</p>
<p>
	<label>{wCOLDOWNLOADS}:</label>
	<input name="downloads" id="downloads" type="text" value="{COLDOWNLOADS}" disabled="disabled" />
</p>
<p>
	<label>{wCOLFILENAME}:</label>
	<input name="filename" id="filename" type="text" value="{COLFILENAME}" disabled="disabled" />
</p>
<p>
	<label>{wCOLSIZE}:</label>
	<input name="size" id="size" type="text" value="{COLSIZE}" disabled="disabled" />
</p>
<!-- END projectsimagesa -->


<!-- BEGIN projectsimagesb -->
<p class="topbuttons">
	<input name="reset" type="reset" value="{wRESET}" />
	<input name="apply" type="submit" value="{wAPPLY}" />
	<input name="submit" type="submit" value="{wSAVE}" />
</p>
<p>
	<label>{wCOLHA}:</label>
	<input name="h1" id="h1" type="text" value="{COLH1}" />
</p>
<p>
	<label>{wCOLTITLE}:</label>
	<input name="title" id="title" type="text" value="{COLTITLE}" />
</p>
<p>
	<label>{wCOLMDESCRIPTION}:</label>
	<textarea cols="50" rows="9" name="mdescription" id="mdescription" class="editor">{COLMDESCRIPTION}</textarea>
</p>
<p>
	<label>{wCOLMKEYWORDS}:</label>
	<textarea cols="50" rows="9" name="mkeywords" id="mkeywords" class="editor">{COLMKEYWORDS}</textarea>
</p>
<p>
	<label>{wCOLHB}:</label>
	<input name="h2" id="h2" type="text" value="{COLH2}" />
</p>
<p>
	<label>{wCOLHC}:</label>
	<input name="h3" id="h3" type="text" value="{COLH3}" />
</p>
<p>
	<label>{wCOLTEXTD}:</label>
	<textarea cols="50" rows="9" name="text4" id="text4">{COLTEXT4}</textarea>
</p>
<!-- END projectsimagesb -->

