<?xml version="1.0" encoding="utf-8"?>
<menu>
	<a key="index">
		<a key="name">index</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="apps">
		<a key="name">apps</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="users">
		<a key="name">users</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
	<a key="companies">
		<a key="name">companies</a>
		<a key="show">1</a>
		<a key="type">php</a>
		<a key="su">0</a>
	</a>
</menu>