<!-- BEGIN login --><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="All: Ondrej Rafaj" />
<meta name="copyright" content="webgurucms.com" />
<link rel="shortcut icon" href="{TEMPLATE}favicon.ico" type="image/x-icon" />
<link href="{TEMPLATE}css/basic.css" rel="stylesheet" type="text/css" />
<link href="{TEMPLATE}css/login.css" rel="stylesheet" type="text/css" />
{EDITOR}
<title>WebGuru CMS 3 - {TITLE}</title>
{HEAD}
</head>
<body>
<div id="errors">{ERRORS}</div>
<div id="container">
	<form action="index.php{FROM}" method="post" id="loginform">
		<!--<h1><a href="{ADMINROOT}"><span>WebGuru3</span> CMS</a></h1>-->
		<p><input name="name" id="name" type="text" value="{USERNAME}" /></p>
		<p><input name="pass" id="pass" type="password" value="{PASSWORD}" /></p>
		<p>
			<label for="remember">{wREMEMBER}</label>
			<input name="remember" id="remember" type="checkbox" value="1"{CHECKED} />
			<button name="submit" id="submit" type="submit"><span>{wLOGIN}</span></button>
		</p>
	</form>
</div>
</body>
</html>
<!-- END login -->