<!-- BEGIN login --><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="All: Ondrej Rafaj" />
<meta name="copyright" content="webgurucms.com" />
<link rel="shortcut icon" href="{TEMPLATE}favicon.ico" type="image/x-icon" />
<!--<link href="{TEMPLATE}css/basic.css" rel="stylesheet" type="text/css" />-->
<link href="{TEMPLATE}css/login.css" rel="stylesheet" type="text/css" />
{EDITOR}
<title>WebGuru CMS 3 - {TITLE}</title>
<style>
#errors {
	width:600px;
	margin-top:50px;
	margin-bottom:-30px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:12px;
}
#errors ul {
}
#errors ul.red li {
	color:#900;
}
#errors ul.green li {
	color: #090;
}
#errors ul.orange li {
	color:#C60;
}
#errors ul li {
	margin-bottom:12px;
}
</style>

</head>
<body>
<div id="container">
	<div id="topLine"></div>
		<div id="errors">{ERRORS}</div>
    	<form action="index.php{FROM}" method="post" id="login">
		<h1><strong>Fuerte International</strong> WebGuru CMS 3 </h1>
    	<p><input type="email" name="name" placeholder="Email" value="" /></p>
		<p>
		    <input type="password" name="pass" placeholder="Password" value="" />
		    <!--<a href="#">Forgotten Password?</a>-->
		</p>
		<p>
		    <button name="submit" type="submit">Login</button>
		</p>

	</form>
</div>
</body>
</html>
<!-- END login -->