<!-- BEGIN main --><?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{#KEYWORDS}" />
<meta name="description" content="{#DESCRIPTION}" />
<meta name="author" content="All: Ondrej Rafaj" />
<meta name="copyright" content="webgurucms.com" />
<title>WebGuru CMS3 - Fuerte International</title>
<link rel="shortcut icon" href="{TEMPLATE}favicon.ico" type="image/x-icon" />
<link href="{TEMPLATE}css/styles.css" rel="stylesheet" type="text/css" />
<link href="{TEMPLATE}css/tabs.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMINROOT}js/jsConfig.php"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.validate.js"></script>
<script type="text/javascript" src="{TEMPLATE}js/main.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.dimensions.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.accordion.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/jquery.selects.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/tables.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/forms.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/popups.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/menu.js"></script>
<script type="text/javascript" src="{ADMINROOT}js/main.js"></script>
{EDITOR}
{HEAD}
</head>
<body>
<div id="container">
	<div id="header" class="home">
        <ul>
            <li><a href="{ADMINROOT}">{WEBNAME}</a></li>
            <li><span id="acttime"></span></li>
            <li><span id="actdate"></span></li>
            <li><a href="?logout" id="toplogin">{NAME} {SURNAME}</a></li>
            <li>({TEAM})</li>
            <li><a href="?logout" id="logout">{wLOGOUT}</a></li>
        </ul>
        <div id="logo">
        	<h2><a href="{ADMINROOT}"><span>WebGuru CMS 3</span></a></h2>
        	<h1>Fuerte International</h1>
        </div>
        <form action="" method="get">
            <h4><span>Search documentation</span></h4>
            <p>
                <input type="text" name="searchfield" id="searchfield" value="" />
                <input type="submit" name="searchbutt" id="searchbutt" value="Search!" />
            </p>
        </form>
    </div>
    <div id="page">
        <div id="navigation">
            {MENU}
        </div>
        <div id="menu">
        	<form action="" method="post" id="wgWebsites" class="box">
            	<h4><span>{wWEBSITES}</span></h4>
                <div>
                    <p>
                        {FULLWEBSITES}
                    </p>
                    <p>
                        {FULLLANGUAGES}
                    </p>
                    <p>
                        <button name="switchweb" id="switchweb" type="submit"><span>{wGO}</span></button>
                    </p>
                </div>
            </form>
        	<div id="wgFunctions" class="box">
            	<h4><span>{wFUNCTIONS}</span></h4>
                {FUNCTIONS}
            </div>
        	<div id="wgModules" class="box">
            	<h4><span>{wMODULES}</span></h4>
                {MODULES}
            </div>
            <form action="" method="post" name="generateform" id="generateform" class="box">
            	<h4><span>{wGENERATE}</span></h4>
                <div>
                    <p>
                        <input name="act" type="hidden" value="generate" />
                        <input name="params" type="hidden" value="" />
                        <button name="generateweb" id="generateweb" type="submit" onclick="return pixelpage.generateWeb('{wGENERATING}', '{WGSSID}');"><span>{wGENERATE}</span></button>
                    </p>
                    <p id="generateInfo" class="green"></p>
                </div>
            </form>
        	<div class="box">
            	<h4><span>{wDEBUGGER}</span></h4>
                <div>
                    <p><span>{wSELECTS}:</span> {DSELECTS}</p>
                    <p><span>{wUPDATES}:</span> {DUPDATES}</p>
                    <p><span>{wDELETES}:</span> {DDELETES}</p>
                    <p><span>{wINSERTS}:</span> {DINSERTS}</p>
                    <p><span>{wSPECIALS}:</span> {DSPECIAL}</p>
                    <p><span>{wTOTALQ}:</span> {DTOTAL}</p>
                    <p><span>{wTOTALT}:</span> {DTIME}</p>
                </div>
            </div>
        	<div class="box">
            	<h4><span>{wMODULEINFO}</span></h4>
                <div>
                    <p><span>{wMODNAME}:</span> {DMODNAME}</p>
                    <p><span>{wMODVER}:</span> {DMODVER}</p>
                    <p><span>{wMODSIZE}:</span> {DMODSIZE}</p>
                    <p><span>{wPATH}:</span> {DMODPATH}</p>
                </div>
            </div>
            <div class="box">
            	<h4><span>{wSYSTEMDIALOGS}</span></h4>
                <div>
                    <div>
                        <a href="#" class="simple_popup">{wQUERIES}</a>
                        <div class="simple_popup_info">{DQUERIES}</div>
                    </div>
                    <div>
                        <a href="#" class="simple_popup">{wTRANSLATIONS}</a>
                        <div class="simple_popup_info">{DTRANSLATIONS}</div>
                    </div>
                    <div>
                        <a href="#" class="simple_popup">{wHELP}</a>
                        <div class="simple_popup_info">{HELP}</div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <div>
            <div id="breadcrumbs">
                <p>{BREADCRUMBS}</p>
            </div>
            <h1>{MODULENAME}</h1>
            <div id="errors">{ERRORS}</div>
            <div id="content" class="maximizable">
                <h2 id="maxplacement">Page title</h2>
                <div class="box">{CONTENT}</div>
            </div>
            <p class="clear">&nbsp;</p>
        </div>
	</div>
	<div id="footer">
        <div class="links">
        	{MENU}
        </div>
        <ul class="credits">
            <li>This is <a href="http://www.webgurucms.com/">WebGuruCMS3</a></li>
            <li>by <a href="http://www.fiftyfootsquid.com/">fuerteint.com</a></li>
        </ul>
	</div>
</div>
<div id="loginstat" class="smallwindow" style="display: none;">
	<a href="#" class="close"><span>[x]</span></a>
    <form action="" method="post">
        <h4><span>Login to the system</span></h4>
        <p>
            <label for="namefield">Username:</label>
            <input type="text" name="namefield" id="namefield" value="" />
        </p>
        <p>
            <label for="emailfield">Password:</label>
            <input type="password" name="passfield" id="passfield" value="" />
        </p>
        <p>
            <input type="submit" name="loginbutt" id="loginbutt" value="Login!" />
        </p>
        <ul>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Forgoten password</a></li>
        </ul>
    </form>
</div>
<div id="wgInsert"></div>
</body>
</html>
<!-- END main -->